@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url("../assets/lib/fontawesome/css/all.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: #000;
  font-family: 'Fira Code', sans-serif;
  font-weight: 500;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0006;
  cursor: pointer;
}

.show {
  display: block;
}

.none {
  display: none;
}