// .outer {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 5px;
//   background-color: #030029;
//   color: #fff;
// }


.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  padding: 5rem 0rem;
  background-color: #030029;
  color: #fff;

  .left {
    width: 40%;
    display: flex;

    .top {
      .title {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-right: 3rem;
      }

      .line {
        width: 60%;
        height: 5px;
        background-color: red;
        margin: 0 0 1rem 0;
      }

      .icons {
        .icon {
          padding: 0 5px;
          font-size: 2rem;
          transition: all 200ms ease;
          cursor: pointer;
          width: 45px;
          height: fit-content;

          &:hover {
            scale: 1.2;
          }
        }
      }
    }

    .bottom {
      div {
        padding: 3px 0;
        padding-left: 1.7rem;
        color: #ddd;
        font-size: 1.3rem;

        span {
          color: #ddd;

        }
      }

      .name {
        font-size: 2rem;
        padding-left: 0 !important;

        span {
          color: #ddd;
          font-weight: bolder;
          border-left: 1px solid #ddd;
          padding-left: 25px;
        }
      }

      .mail {
        div {
          color: #ddd;
          padding-left: 0;
        }
      }
    }
  }

  .right {
    width: 20%;

    .title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 2.5rem;
      padding-bottom: 1rem;
      color: #ddd;
    }

    .links {
      padding-left: 3rem;
      list-style: none;

      .link {
        padding-bottom: 0.6rem;
        font-size: 1.3rem;
        transition: all 200ms ease;
        cursor: pointer;
        color: #ddd;

        &:hover {
          padding-left: 1rem;
          color: #fff;
        }
      }
    }
  }
}


.credit {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #030029;
  color: #fff;
  margin: -1rem 0 0 0;

  padding: 0 0 1rem 0;

  a {
    i {
      color: #f58442;
    }
  }
}

@media screen and (max-width: 425px) {
  .outer {
    // display: none;
    flex-direction: column;
    width: 100%;
    // align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 2rem;

    .left {
      flex-direction: column;
      width: 90%;
      padding-bottom: 3rem;

      .top {
        padding-bottom: 3rem;
      }

      .bottom {

        div,
        span {
          font-size: 1rem;
        }

        .name {
          span {
            font-size: 2rem;
          }
        }
      }
    }

    .right {
      width: 100%;
    }
  }

  .credit {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #030029;
    color: #fff;
    margin: -1rem 0 0 0;

    padding: 0 0 1rem 0;

    a {
      i {
        color: #f58442;
      }
    }

  }
}